@import 'tailwindcss';

:root {
  --background: #0b1220;
  --foreground: #e6eef3;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
  --font-inter: var(--font-inter);
  --color-ob-black: #071021;
  --color-ob-black-2: #15202b;
  --color-ob-black-3: #09121a;
  --color-ob-black-4: #0f1724;
  --color-ob-black-5: #0e1620;
  --color-ob-black-6: #08131a;
  --color-ob-black-7: #06131a;
  --color-ob-black-8: #0b1724;
  --color-ob-black-9: #08131a;
  --color-ob-white: #e6eef3;
  --color-ob-blue: #1e90ff;
  --color-ob-blue-2: #0f2740;
  --color-ob-blue-3: #0c3240;
  --color-ob-teal: #0bb5a8;
  --color-ob-teal-2: #cff6f1;
  --color-ob-teal-3: #10b981;
  --color-ob-teal-4: #0c7458;
  --color-ob-lightblue: #b8dcef;
  --color-ob-lightblue-2: #2b968b;
  --color-ob-gray: #233043;
  --color-ob-gray-2: #6b7e8e;
  --color-ob-gray-3: #163146;
  --color-ob-gray-4: #20303c;
  --color-ob-gray-5: #15202b;
  --color-ob-green: #10b981;
  --color-ob-red: #5a0f12;
  --color-ob-red-2: #ef4444;
  --color-ob-red-3: #ad3a3a;
  --color-ob-orange: #f97316;
  --color-ob-orange-2: #bb540f;
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: var(--font-inter), Helvetica, sans-serif;
}

::-webkit-scrollbar {
  width: 5px;
}

::-webkit-scrollbar-track {
  background: transparent;
}

::-webkit-scrollbar-thumb {
  background: transparent;
  border-radius: 999999px;
}

::-webkit-scrollbar-thumb:hover {
  background: #6b7e8e;
}
